* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
}

.loginForm {
    margin: 0 auto;
    margin-top: 267px;
    width: 300px;
    display: grid;
    row-gap: 20px;
}

.joinForm {
    margin: 0 auto;
    margin-top: 100px;
    width: 400px;
    display: grid;
    row-gap: 30px;
}

.joinForm .labelTextInputGroup {
    display: grid;
    row-gap: 20px;
}

.joinForm .buttonGroup {
    width: 360px;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: calc(50% - 20px) calc(50% - 20px);
    column-gap: 40px;
}

.labelTextInput {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px 300px;
}

.labelTextInput .inputLabel {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #333333;
}

.heading1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #333333;
}

.heading2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #333333;
}

.center {
    text-align: center;
}

.textInput {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #9D9D9D;
    outline: none;
}

.textInput::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #9D9D9D;
}

.button {
    background: #333333;
    border-radius: 6px;
    padding: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
}

.cancelButton {
    background: #989898;;
    border-radius: 6px;
    padding: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
}

.linkBox {
    display: grid;
    justify-content: end;
}

.link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    color: #9D9D9D;
}

.container {
    display: grid;
    grid-template-columns: 400px auto;
    column-gap: 50px;
    height: inherit;
}

.container .sideBar {
    background: #C0C0C0;
    height: inherit;
}

.container .main {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.container .main .title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #333333;
}

.container .main .smallBoardGroup {
    display: grid;
    row-gap: 50px;
    column-gap: 50px;
    grid-template-columns: calc(50% - 25px) calc(50% - 25px);
    width: 850px;
}

.container .main .smallBoardGroup .smallBoard {
    display: grid;
    row-gap: 10px;
}

.container .main .smallBoardGroup .smallBoard .head {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: flex-end;
}

.container .main .smallBoardGroup .smallBoard .head .title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #333333;
}

.container .main .smallBoardGroup .smallBoard table {
    border-collapse: collapse;
}

.container .main .smallBoardGroup .smallBoard table .tableHeading {
    background: #333333;
}

.container .main .smallBoardGroup .smallBoard table .tableHeading td {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    text-align: center;
    padding: 6px 0;
}

.container .main .smallBoardGroup .smallBoard table .tableBody {
    background: #D9D9D9;
}

.container .main .smallBoardGroup .smallBoard table .tableBody td {
    padding: 5px 0;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
}

.container .main .smallBoardGroup .smallBoard table .tableBody td:nth-child(2) {
    text-align: left;
}

.container .sideBar .userInfo {
    margin: 80px 26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.1em;
    text-align: center;
    color: #333333;
}

.container .sideBar .menuList {
    display: grid;
    row-gap: 50px;
}

.container .sideBar .menuList .menu a {
    background: #333333;
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 11px;
    text-align: center;
    text-decoration: none;
}

.container .sideBar .menuList .selected a {
    background: #FFFFFF;
    color: #333333;
    font-weight: 700;
}

.container .main .boardBox {
    width: 800px;
    display: grid;
    row-gap: 30px;
}

.container .main .boardBox .board {
    display: grid;
    row-gap: 10px;
}

.container .main .boardBox .board .head {
    display: flex;
    justify-content: flex-end;
    column-gap: 5px;
}

.container .main .boardBox .board .head .searchTextInput {
    width: 100px;
    background: #FFFFFF;
    border: 1px solid #333333;
    padding: 6px;
}

.container .main .boardBox .board .head .searchTextInput::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #9D9D9D;
}

.container .main .boardBox .board .head .searchBtn {
    background: #333333;
    border: 1px solid #333333;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #FFFFFF;
    padding: 6px;
}

.container .main .boardBox .board table {
    border-collapse: collapse;
}

.container .main .boardBox .board table .tableHead td {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
    padding: 9px;
    background: #333333;
}

.container .main .boardBox .board table .tableBody td {
    background: #D9D9D9;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #333333;
    padding: 9px;
}

.container .main .boardBox .board table .tableBody td:nth-child(2) {
    text-align: left;
}

.container .main .boardBox .board .buttonGroup {
    display: flex;
    justify-content: end;
}

.p10 {
    padding: 10px;
}

.paging {
    text-align: center;
}

.black {
    color: #333333;  
}

.container .sideBar .menuList .menu .subMenuList .subMenu a {
    background: #7E7E7E;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
    padding: 6px;
    text-decoration: none;
}

.container .sideBar .menuList .menu .subMenuList .selected a {
    background: #FFFFFF;
    color: #333333;
    font-weight: 700;
}

.container .main .boardBox .board table .tableBody .content {
    display: grid;
    row-gap: 10px;
}

.container .main .editMemberForm {
    margin-top: 200px;
    margin-left: 200px;
    display: grid;
    row-gap: 30px;
    width: 400px;
}

.container .main .editMemberForm .labelTextInputGroup {
    display: grid;
    row-gap: 20px;
}

.container .main .editMemberForm .buttonGroup {
    display: grid;
    justify-content: center;
}

.container .main .editMemberForm .labelTextInputGroup .labelTextInput .text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
}

.w160 {
    width: 160px;
}